#catalog-intro > div:nth-child(1) {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 var(--container-padding);
    overflow: hidden;
}
#catalog-intro > div:nth-child(1)::after {
    position: absolute;
    content: '';
    opacity: 15%;
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    z-index: -1;
    left: 0;
}
#catalog-intro p {
    max-width: 724px;
    font-weight: 300 !important;
}

#catalog-intro .slider-image {
    width: var(--catalog-slider-img-width);
    height: var(--catalog-slider-img-height);
}

#catalog-intro .slider-wrapper {
    transform: translateX(calc(var(--catalog-slider-img-width)* -3 - 60px));
    width: calc((var(--catalog-slider-img-width) * 10) + 10 * 20px);
    height: calc(var(--catalog-slider-img-height) + 63px);
    margin-bottom: 40px;
}

#catalog-intro .container {
    max-width: 1920px;
    padding: clamp(2.5rem, 2.125rem + 1.6667vw, 4.125rem) var(--container-padding);
}