.custom-selection {
  cursor: pointer;
  user-select: none;
      margin-top: 5px;
}

.custom-selection .row:not(li .row, .selected-option .row){
  height: 48px;
  padding: 0 24px;
  border-bottom: 1px solid var(--line-bg);
}

.custom-selection li .row div, .selected-option .row div  {
  border-radius: 50%;
  width: 19px;
  height: 19px;
}
 

.custom-selection .selection-group {
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--line-bg);
  height: 48px;

  border: 1px solid var(--line-bg);
  overflow: hidden;
  transition: var(--transition) 0.8s height;
}

.custom-selection img {
  transition: var(--transition) 0.8s transform;
  width: 11px;
  height: 11px;
}

.custom-selection ul li::first-letter,  .selected-option span::first-letter {
  text-transform: uppercase !important;
}

.custom-selection ul {
  padding: 0 9px;
}

.custom-selection ul li {
  padding: 0 15px;
position: relative;
  border-radius: 20px;
}

.custom-selection ul li:nth-child(1) {
  margin-top: 20px;
}

.custom-selection ul li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  z-index: -1;
  left: 0;
  opacity: 0;
    border-radius: 20px;
  height: 35px;
    background-color: var(--gray);
  width: 100%;
}

.custom-selection ul li:hover::after {
  opacity: 1;

}
