.custom-selection {
  cursor: pointer;
  user-select: none;
}

.custom-selection .row {
  height: 48px;
  padding: 0 24px;
  border-bottom: 1px solid var(--line-bg);
}

.custom-selection .selected-option {
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--line-bg);
  height: 48px;

  border: 1px solid var(--line-bg);
  overflow: hidden;
  transition: var(--transition) 0.8s height;
}

.custom-selection img {
  transition: var(--transition) 0.8s transform;
  width: 11px;
  height: 11px;
}

.custom-selection ul li::first-letter {
  text-transform: uppercase !important;
}

.custom-selection ul {
  padding: 0 9px;
}

.custom-selection ul li {
  padding: 0 15px;

  border-radius: 20px;
}

.custom-selection ul li:nth-child(1) {
  margin-top: 20px;
}

.custom-selection ul li:hover {
  background-color: var(--gray);
}
