#order {
    padding: clamp(2rem, 1.6538rem + 1.5385vw, 3.5rem) 0 var(--section-padding-equal-big);
}

#order .section-layout {
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 40%;
}

#order .cart-items {
    height: 470px;
    margin: clamp(1.25rem, 0.6731rem + 2.5641vw, 3.75rem) 30px;
    overflow-y: scroll;
}

#order h5 {
    color: #23221e;
    font-size: 32px !important;
    margin: 0 30px;
    line-height: normal;
}

#order .promo-code {
    padding: 30px;
    background-color: var(--gray);
}

#order .promo-code input {
    background-color: var(--white);
}

#order .promo-code form > .row:nth-child(2) {
    margin-top: 30px;
}

#order .promo-code form > .row:nth-child(3) {
    margin: 20px 0 40px;
}

#order  .form-info .main-input {
max-width: unset;
height: 48px;
outline: 1px solid var(--line-bg);
}

#order form:not(.promo-code form) button {
    width: 100%;
    height: 48px;
    background-color: #23221e;
}

#order .form-info .row .main-input{
    width: calc(50% - 10px)
}


#order .form-info {
    color: #23221e;
}

#order .form-info > div:nth-child(1) {
    margin-bottom: 20px;
}

#order .custom-selection + div {
    margin: 20px 0;
}

#order .form-info > .row.gap-10 {
    padding: 18px 0 50px;
}

#order form:not(.promo-code form) > div:nth-last-child(2) {
    border-bottom: 1px solid var(--line-bg);
    margin-bottom: 45px;
}