.cart-wrapper {
  position: fixed;
  top: 0;
  right: 13%;
  z-index: 557;
  height: 100%;

  background-color: var(--white);
  overflow-y: scroll;
  max-width: 580px;
  width: 100%;
}

@media all and (max-width: 1024px) {
  .cart-wrapper {
    right: 0 !important;
  }
}

#cart {


  height: 100%;
}

#cart .cart-items {
  margin: 30px;
}

.cart-items {
  height: calc(var(--cart-item-height) * var(--cart-items-min-count));
  overflow-y: scroll;

  container-type: inline-size;
}

#cart .show-recommendations .row.gap-5,
#cart .cart-content .menu-bars {
  user-select: none;
  cursor: pointer;
}

#cart .cart-content h5 {
  font-size: 32px !important;
}

#cart .cart-content .menu-bars div {
  width: 33px;
  height: 1px;
  background-color: var(--black);
  transition: var(--transition) transform 0.5s;
}

#cart .cart-content .menu-bars:hover div:nth-child(1) {
  transform: rotate(42.23deg) translateX(7px);
}

#cart .cart-content .menu-bars:hover div:nth-child(2) {
  transform: rotate(137.77deg) translateX(-7px);
}

#cart .cart-content>.row:nth-child(1) {
  padding: 42px 30px;
  border-bottom: 1px solid var(--line-bg);
}

#cart .output {
  background-color: var(--black-secondary);
  padding: 35px 30px;
}

#cart .recommendations {
  align-content: center;
  overflow: hidden;
  margin-top: 10px;
  transition: var(--transition) 0.5s height;
}

#cart .recommendations .slider-item {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
}

#cart .recommendations a,
#cart .recommendations .rec-item-image {
  height: 100%;
  width: 100%;
}

#cart .recommendations .slider-item img {
  height: 100%;
  object-fit: cover;
}

#cart .slider-wrapper {
  transform: translateX(calc((100px * -3) - 45px));
  width: calc((100px * 10) + 10 * 15px);
  height: 120px;
}

#cart .show-recommendations {
  padding: 30px;
  border-top: 1px solid var(--line-bg);
}

#cart .show-recommendations>.row:nth-child(1) {
  width: fit-content;
}

#cart .show-recommendations .row img {
  transition: var(--transition) 0.5s transform;
  width: 9px;
  height: 9px;
}

.added-item {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 1;
  max-width: 222px;
  line-height: -13px;
  filter: none;
  background: #5c7d60;
  will-change: transform;
  border-radius: 15px;
  padding: 20px;
}

.added-item span {
  line-height: normal;
}

header .icons .icon:nth-child(3) {
  position: relative;
}

header .icons .icon:nth-child(3)::after {
  content: attr(data-count);
  position: absolute;
  right: -11px;
  top: -5px;
  background-color: var(--black);
  border-radius: 50%;
  color: var(--white);
  aspect-ratio: 1 / 1;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  min-width: 15px;
  pointer-events: none;
  cursor: pointer;
  
}



@container (max-width: 400px) {
  .cart-items li>.row:nth-child(1) {
    flex-direction: column;
  }

  :root {
    --cart-item-height: 265px !important;
  }
}