.filter-params .main-filter span:hover,
.filter-params .main-filter span.active {
    font-weight: 600;
}

.filter-params .main-filter span:hover::after,
.filter-params .main-filter span.active::after {
    clip-path: inset(0);
}

.filter-params .main-filter span {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.filter-params .collection-filter span {
    text-transform: uppercase;
}

.filter-params .main-filter span::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    left: 0;
    clip-path: inset(0 50%);
    transition: var(--transition) 0.5s clip-path;
}

#filter .collection-filter .custom-checkbox {
    margin-bottom: 1.5px;
}

.filter-params>div {
    border-bottom: 1px solid var(--line-bg);
    padding-bottom: 30px;
}

.filter-params>div:not(div:nth-child(1)) {
    padding-top: 30px;
}


.filter-params .colors-filter li:nth-child(1) .input-state {
    background-color: var(--palette-gray-light);
    border: none;
}

.filter-params .colors-filter li:nth-child(2) .input-state {
    background-color: var(--black);
    border: none;
}

.filter-params .colors-filter li:nth-child(3) .input-state {
    border: none;
    background-color: var(--palette-brown);
}

.filter-params .colors-filter li:nth-child(4) .input-state {
    background-color: var(--white);
}


.filter-params .colors-filter li:nth-child(5) .input-state {
    border: none;
    background-color: var(--palette-beige);
}

.filter-params .colors-filter li:nth-child(6) .input-state {
    border: none;
    background-color: var(--palette-green);
}

.filter-params .colors-filter li:nth-child(7) .input-state {
    border: none;
    background-color: var(--palette-gray);
}

.filter-params .colors-filter li:nth-child(8) .input-state {
    border: none;
    background-color: var(--palette-brown-light);
}