#configuration {
  background-color: var(--gray);
  padding: var(--section-padding-equal-big) 0;
}

#configuration .section-layout {
  display: grid;
  padding: clamp(2.5rem, 2.2115rem + 1.2821vw, 3.75rem) 0 clamp(3.125rem, 2.4038rem + 3.2051vw, 6.25rem);
  column-gap: 20px;
  row-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));
  border-bottom: 1px solid var(--line-bg);
}



#configuration .config-image {
  aspect-ratio: 1/1;
  width: -webkit-fill-available;
  background-color: var(--placeholder-2);
}

#configuration .section-layout>div span {
  line-height: normal;
}

#configuration .section-layout>div {
  position: relative;
}

#configuration .config-adjustment {
  min-width: 180px;
  height: 48px;
  border-radius: 20px;
  border: 1px solid var(--black);
}

#configuration .config-adjustment span:not(:nth-child(2)),
#configuration .config-adjustment button {
  cursor: pointer;
  user-select: none;
}

#configuration .output {
  margin-top: 36px;
}

#configuration .output>span:nth-child(1) {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

#configuration .main-button {
  width: 100%;
  max-width: 300px;
  z-index: 8;
  margin-top: clamp(1.5625rem, 1.2019rem + 1.6026vw, 3.125rem);
}

#configuration .main-button::after {
  background-color: var(--black-secondary);
}