#filter {
    padding-top: 42px;
}

#filter .container {
    overflow: unset;
    max-width: 1438px;
}

#filter .section-layout {
    position: relative;
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;
    padding: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem) 0 26px;
    border-top: 1px solid var(--line-bg);
}

#filter .filter-display {
    display: grid;
    grid-template-areas:
        "a b c c d"
        "e f g h i"
        "j j k l l"
        "m n o l l"
        "p p q r s";
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#filter .filter-display img {
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: 1/1; */
}

#filter .filter-item {
    position: relative;
    margin-bottom: 30px;
}

#filter .filter-item:nth-child(1n) .placeholder {
    background-color: var(--placeholder-1);
}

#filter .filter-item:nth-child(2n) .placeholder {
    background-color: var(--placeholder-2);
}

#filter .filter-item:nth-child(3n) .placeholder {
    background-color: var(--placeholder-3);
}


#filter .filter-item>span:nth-child(3) {
    font-weight: 600;
    margin-top: 16px;
    line-height: 6px;
}

#filter .filter-item span:not(span:nth-child(2)) {
    display: block;
}

#filter .filter-item>span:nth-child(4) {
    color: #A5A5A5;

}

#filter #article {
    border: 1px solid var(--line-bg);
    height: calc(var(--filter-item-img-height) + 46px);
    width: 100%;
}

#filter .filter-item .palette {

    transition: var(--transition) 0.3s opacity;
}

@media all and (hover: hover) {
    #filter .filter-item .palette {
        opacity: 0;

    }

    #filter .filter-item:hover .palette {
        opacity: 1;
    }
}

#filter .filter-item .palette div {
    height: 19px;
    width: 19px;
    border-radius: 50%;
}


#filter .filter-pagination {
    padding-top: 17px;
    border-top: 1.5px solid var(--line-bg);
    margin-left: 240px;
    grid-column: 1 / -1;
    color: #8B8B8B;
}

#filter .filter-pagination li,
#filter .filter-pagination .prev,
#filter .filter-pagination .next {
    cursor: pointer;
}

#filter .filter-pagination li.active,
#filter .filter-pagination li:hover {
    color: var(--black);
}

#filter .filter-pagination .prev:hover,
#filter .filter-pagination .next:hover {
    filter: invert(1);
}

#filter .row.center-y.center-x,
#filter .center-gr.no-results {
    min-height: 500px;
    align-items: center;
    text-transform: capitalize;
}

.filter-params .main-filter span:hover,
.filter-params .main-filter span.active {
    font-weight: 600;
}

.filter-params .main-filter span:hover::after,
.filter-params .main-filter span.active::after {
    clip-path: inset(0);
}

.filter-params .main-filter span {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.filter-params .main-filter span::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    left: 0;
    clip-path: inset(0 50%);
    transition: var(--transition) 0.5s clip-path;
}

.filter-params>div {
    border-bottom: 1px solid var(--line-bg);
    padding-bottom: 30px;
}

.filter-params>div:not(div:nth-child(1)) {
    padding-top: 30px;
}

.filter-params .open-accordion {
    margin-right: 25px;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}

.filter-params .accordion {
    overflow: hidden;
    transition: var(--transition) 0.5s height;
}

.filter-params .accordion ul {
    padding-top: 20px;
}


.filter-params .custom-radio {
    width: 18px;
    height: 18px;
    position: relative;
    margin-bottom: 2px;

}

.filter-params .custom-radio input,
.filter-params .custom-radio .input-state {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    position: absolute;

}


.filter-params .custom-radio .input-state {
    z-index: 44;

    border-radius: 50%;
    border: 1px solid var(--line-bg);
    pointer-events: none;
}

.filter-params .custom-radio input {
    opacity: 0;
    cursor: pointer;
}

.filter-params .custom-radio input:checked+.input-state,
.filter-params .colors-filter li:nth-child(4) .custom-radio input:checked+.input-state {
    background-color: var(--black);
    border: none;
    outline: 2px solid var(--white);
    outline-offset: -4px;
}

.filter-params .colors-filter li:nth-child(1) .input-state {

    background-color: var(--palette-gray-light);
    border: none;
}

.filter-params .colors-filter li:nth-child(2) .input-state {

    background-color: var(--black);
    border: none;

}

.filter-params .colors-filter li:nth-child(3) .input-state {
    border: none;
    background-color: var(--palette-brown);
}

.filter-params .colors-filter li:nth-child(4) .input-state {
    background-color: var(--white);
}


.filter-params .colors-filter li:nth-child(5) .input-state {
    border: none;
    background-color: var(--palette-beige);
}

.filter-params .colors-filter li:nth-child(6) .input-state {
    border: none;
    background-color: var(--palette-green);
}

.filter-params .colors-filter li:nth-child(7) .input-state {
    border: none;
    background-color: var(--palette-gray);
}

.filter-params .colors-filter li:nth-child(8) .input-state {
    border: none;
    background-color: var(--palette-brown-light);
}

#filter .filter-header {
    margin-bottom: 15px;
}

#filter .filter-header a {
    color: #A7A7A7;
}

#filter .filter-header>div:nth-child(1) {
    padding-bottom: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
}

#filter .sorting {
    position: relative;
    cursor: pointer;
}

.filters>span,
.sorting>span {
    text-transform: capitalize;

}

#filter .sorting-params {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    z-index: 5;
    border: 0.5px solid var(--line-bg);
    padding: 40px 10px;
    white-space: nowrap;
    border-radius: 20px;
    background-color: var(--white);
    top: 50px;
    right: 0;
    z-index: 55;
}

#filter .sorting-params span {
    padding: 10px 20px;
    border-radius: 20px;
}


#filter .sorting-params span:hover,
#filter .sorting-params span.active {
    background-color: var(--gray);
}

#modal-root .filter-params {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    z-index: 555;
    border-radius: unset;
    padding: 0 30px 40px;
}

#modal-root .filter-params>.row:nth-child(1) {
    width: 100%;
    padding-bottom: unset;
    position: relative;
    border-bottom: unset;
}

#modal-root .filter-params>.row:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -32px;
    width: 128%;
    height: 1px;
    background-color: var(--line-bg);

}

#modal-root .filter-params .text-heading {
    font-size: 24px;
    line-height: 74px;
    font-weight: 400;
}

@media all and (max-width: 1024px) {
    #filter .section-layout {
        display: block;
    }

    .filter-params {
        position: absolute;
        top: 10px;
        left: 0;
        padding: 40px 30px;
        background-color: var(--white);
        width: 280px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        z-index: 5;
        border: 0.5px solid var(--line-bg);
        overflow-y: scroll;
        min-height: 200px;
    }


    #filter .filter-pagination {
        margin-left: 0;
    }


}

@media all and (max-width: 769px) {
    #filter .filter-display {
        grid-template-areas: initial;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #filter .filter-display #article {
        margin-bottom: 30px;
    }


    #filter .filter-display .filter-item,
    #filter .filter-display #article {
        grid-area: initial !important
    }

    #filter .filter-display #article {
        grid-column: 1/-1 !important;
    }

    #filter .filter-display .placeholder {
        height: var(--filter-item-img-height) !important;
    }



}

@media all and (max-width: 480px) {

    #filter .filter-display {
        grid-template-areas: initial;
        grid-template-columns: 1fr 1fr;
    }



    #filter .filter-display>div:nth-child(3n),
    #filter .filter-display .filter-item:nth-child(9),
    #filter .filter-display #article+div {
        grid-column: 1/-1 !important;
    }

    #filter .filter-display>div:nth-child(3n) .placeholder,
    #filter .filter-display #article+div .placeholder,
    #filter .filter-display .filter-item:nth-child(9) .placeholder {
        height: calc(var(--filter-item-img-height) * 2 + 125px) !important;
    }

}