#filter {
    padding-top: 42px;
}

#filter .container {
    overflow: unset;
    max-width: 1438px;
}

 
#filter .filter-header {
    margin-bottom: 15px;
}

#filter .filter-header>div:nth-child(1) {
    padding-bottom: var(--grid-padding);
}

#filter .pagination {
    margin-left: 240px;
    grid-column: 1 / -1;
}

#filter .loading, #filter .error {
    padding-bottom: var(--grid-padding);
}