.intro {
    min-height: 350px;
        height: 100%;
    background-size: cover !important;
    background-position-x: center !important;
        background-position-y: var(--posY) !important;
    position: relative;
    z-index: 3;
    background-color: var(--placeholder-1) !important;
}
 
.intro p {
    max-width: 724px;
    font-weight: 300 !important;
}

.intro h2 {
    max-width: 900px;
}

.intro .container {
    position: relative;
}

#decor-intro.intro::after, #reviews-intro.intro::after, #article-intro.intro::after, #news-intro.intro::after, #poufs-intro.intro::after {
    content: "";
    opacity: 10%;
    background-color: #000000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}

 #reviews-intro.intro::after, #article-intro.intro::after {
    opacity: 32%;
 }


.intro .mask-layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(1.2px);

}

#reviews-intro .mask-layer , #article-intro .mask-layer{
    backdrop-filter: blur(0.5px);
}