#contact-form {
    background-color: var(--white);
    position: relative;
}

#contact-form::after {
    position: absolute;
    content: "";
    background-color: var(--gray);
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
}

#contact-form .small-heading {
    font-size: 38px;
    line-height: initial;
}

#contact-form .heading-wrapper>.row {
    column-gap: 15px !important;
}

#contact-form .container {
    max-width: 1240px;
}


#contact-form .text-wrapper {
    margin-top: 30px;
    max-width: 694px;
}

#contact-form p {
    line-height: 28px;
    margin: 23px 0 45px;
}

#contact-form img {
    width: 258px;
}

#contact-form input,
#contact-form textarea {
    background-color: var(--gray);

}

#contact-form form .row .column {
    width: 50%;
}

#contact-form button img {
    width: 18px;
}

#contact-form .mockup {
    position: relative;
    z-index: 44;
}


#contact-form .anim-button {
    margin-top: 20px;
    width: 100%;
}

@media all and (max-width: 1023px) {

    #contact-form .mockup,
    #contact-form .container>.row:nth-child(1) {
        flex-direction: column;
    }

    #contact-form .text-wrapper {
        padding-top: var(--section-padding-equal-big);
    }

    
}


@media all and (max-width: 500px) {
    #contact-form form>.row {
        flex-direction: column;
    }

    #contact-form form .row .column {
        width: 100%;
    }

}