#subscribe {
    background-color: var(--white);
}

#subscribe .container {
    position: relative;
    overflow: visible;
    min-height: 500px;
    padding: var(--section-padding-equal-big) var(--container-padding) 0;
}

#subscribe .mockup {
    right: clamp(3.25rem, -20.4722rem + 31.1111vw, 5rem);
    position: absolute;
    bottom: 0;
}


#subscribe p {
    font-weight: 300;
    margin: 23px 0 35px;
}

#subscribe img {
    width: 258px;
}

#subscribe input {
    background-color: var(--gray);
    max-width: 422px;
    width: 100%;
}

#subscribe button img {
    width: 18px;
}
 
@media all and (max-width: 1023px) {
    #subscribe .mockup {
        position: static;
       
    }

    #subscribe .mockup,
    #subscribe .text-wrapper {
        display: grid;
        place-content: center;
    }

    #subscribe .text-wrapper {
        margin-bottom: 50px;
    }
}

@media all and (max-width: 422px) {



    #subscribe .anim-button {
        width: 100%;
    }

}