
.infinite-slider .slider-item {
    position: absolute;
    will-change: left;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1px;
}

.infinite-slider.slider-container {
    overflow: hidden;
}

.infinite-slider .slider-wrapper {
    overflow: hidden;
    position: relative;
    height: 100%;

}

.infinite-slider .slider-image img {
    object-fit: cover;
    height: 100%;
}

.infinite-slider .slider-nav {
    width: 100%;
}


 