#scroll-wrapper {
    inset: 0;
    width: 100%;
    padding-top: calc(30px + 55px + var(--nav-height) + (var(--header-container-padding) * 2));
    background-color: var(--white);
}

.scroll-content {
    min-height: 100% !important;
    /* height: inherit; */
    display: flex !important;
    flex-direction: column;
    will-change: transform;
    height: inherit;
}

.scrollbar-thumb-y {
    background-color: var(--white) !important;
    cursor: grab;
}

.scrollbar-track-y {
    background-color: transparent !important;
    width: 11px !important;
    mix-blend-mode: exclusion;
}

.scrollbar-track-x {
    display: none !important;
}

@media all and (max-width: 1023px) {

    html body .scrollbar-track-y,
    html body .scrollbar-thumb-y {
        display: none !important;
    }
}

.heading-wrapper span {
    opacity: 0;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    transition-delay: var(--delay) !important;
    -webkit-transition-delay: var(--delay) !important;
    -webkit-transition: var(--transition) 1s opacity, var(--transition) 1s filter;
    transition: var(--transition) 1s opacity, var(--transition) 1s filter;
    will-change: filter, opacity;
}

.heading-wrapper.visible span {
    opacity: 1;
 
    filter: blur(0);
        -webkit-filter: blur(0);
}

