:root {
  --transition: cubic-bezier(0.645, 0.045, 0.355, 1);
  --gray: #f5f5f5;
  --gray-text: #a7a7a7;
  --white: #ffffff;
  --black: #000000;
  --black-secondary: #23221e;
  --line-bg: #d3d3d3;
  --backdrop: #00000052;

  --placeholder-1: rgb(157, 153, 149);
  --placeholder-2: rgb(73 69 69);
  --placeholder-3: rgb(87, 99, 87);

  --red-error: #e17070;

  --palette-gray-light: #d9d9d9;
  --palette-brown: #6a4c2d;
  --palette-beige: #eedecb;
  --palette-brown-light: #7e7662;
  --palette-green: #053109;
  --palette-gray: #2c3136;

  --nav-height: 80px;
  --section-padding-equal-big: clamp(4.375rem, 3.2212rem + 5.1282vw, 9.375rem);
  --section-padding-bottom-small: clamp(0rem, -1.4856rem + 6.6026vw, 6.4375rem);
  --section-padding-top-small: clamp(2.125rem, 1.6058rem + 2.3077vw, 4.375rem);
  --header-container-padding: clamp(0.625rem, 0.3654rem + 1.1538vw, 1.75rem);
  --container-padding: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem);

  --home-slider-transform: clamp(-5rem, -26.6949rem + 33.8983vw, 0rem);
  --home-slider-gap: clamp(0.9375rem, 0.5625rem + 1.875vw, 2.8125rem);
  --home-slider-img-size: clamp(6.875rem, 5.9125rem + 4.8125vw, 11.6875rem);
  --home-slider-active-img-size: clamp(25.625rem,
      3.0536rem + 35.2679vw,
      45.375rem);
  --home-slider-width: calc((var(--home-slider-gap) * 15) + (15 * var(--home-slider-img-size)) + var(--home-slider-active-img-size));

  --bestsellers-slider-img-width: clamp(13.75rem,
      11.7308rem + 8.9744vw,
      22.5rem);
  --bestsellers-slider-img-height: clamp(16.25rem,
      12.0673rem + 18.5897vw,
      34.375rem);
  --bestsellers-slider-padding-left: clamp(1.875rem,
      -1.3413rem + 14.2949vw,
      15.8125rem);

  --projects-slider-active-img-width: clamp(28.75rem,
      18.7283rem + 20.8514vw,
      43.75rem);
  --projects-slider-img-width: clamp(13.125rem, 9.3669rem + 7.8193vw, 18.75rem);
  --projects-slider-side-img-width: clamp(12.8125rem,
      11.351rem + 3.0408vw,
      15rem);

  --projects-slider-active-img-height: clamp(18.75rem,
      12.0689rem + 13.901vw,
      28.75rem);
  --projects-slider-img-height: 180px;
  --projects-slider-side-img-height: clamp(13.125rem,
      9.3669rem + 7.8193vw,
      18.75rem);

  --catalog-slider-img-width: clamp(16.25rem, 15.0962rem + 5.1282vw, 21.25rem);
  --catalog-slider-img-height: clamp(10rem, 9.4231rem + 2.5641vw, 12.5rem);

  --filter-item-img-height: clamp(10rem, 8.7019rem + 5.7692vw, 15.625rem);

  --moreitems-slider-img-width: clamp(14.375rem, 13rem + 6.875vw, 21.25rem);
  --moreitems-slider-img-height-odd: clamp(22.5rem,
      21.7933rem + 3.141vw,
      25.5625rem);
  --moreitems-slider-img-height-even: clamp(16.625rem,
      16.1202rem + 2.2436vw,
      18.8125rem);

  --grid-padding: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);

  --rec-slider-width: 95px;

  --middle-padding-responsive: clamp(2.5rem, 1.7788rem + 3.2051vw, 5.625rem);
  --small-padding-responsive: clamp(3.75rem, 3.2163rem + 2.3718vw, 6.0625rem);
  --middle-gap-responsive: clamp(1.875rem, 1.5865rem + 1.2821vw, 3.125rem);
--small-gap-responsive: clamp(1.875rem, 1.2981rem + 2.5641vw, 4.375rem);
  --morde-items-section-padding: clamp(2.625rem, 2.0769rem + 2.4359vw, 5rem);
}

@media all and (max-width: 1024px) {
  :root {
    --home-slider-img-size: calc(100vw / 3 - var(--home-slider-gap) / 2);
    --home-slider-active-img-size: 0px;
    --home-slider-transform: none;
  }
}

@media all and (max-width: 777px) {
  :root {
    --nav-height: 0px;
  }
}

@media all and (max-width: 769px) {
  :root {
    --projects-slider-active-img-width: 220px;
    --projects-slider-img-width: 220px;
    --projects-slider-side-img-width: 220px;
    --projects-slider-img-height: 260px;
    --projects-slider-active-img-height: 260px;
  }
}