
.range-input {
  position: relative;
    width: 100%;
    padding-top: 20px;
}

.range-input span {
  color: var(--gray);
}

.range-input .values {
  margin-bottom: 21px;
}

.range-input .slider {
  position: relative;
  width: 100%;
}

 .slider-track,
.slider-range {
  position: absolute;
}

.slider-track,
.slider-range {
  border-radius: 4px;
  height: 3px;
}

.slider-track {
  background-color: var(--black);
  width: 100%;
  z-index: 1;
}

.slider-range {
  background-color: var(--line-bg);
  z-index: 2;
}

.range-input .values div {
  border-radius: 20px;
  width: 100px;
  height: 31px;
  background-color: var(--gray);
}

 
 .thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

 .thumb::-webkit-slider-thumb {
  background-color: var(--white);
    outline: 6px solid var(--line-bg);
    outline-offset: -6px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 19px;
    width: 19px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

 
.thumb::-moz-range-thumb {
  background-color: var(--white);
    outline: 6px solid var(--line-bg);
    outline-offset: -6px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 19px;
    width: 19px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}
