@container (max-width:450px) {
    #order .promo-code form>.row:nth-child(1) {
        flex-direction: column;
    }

    #order .form-info>.row.gap-20 input {
        width: 100%;
    }


}

@container (max-width:318px) {

    #order #form-cart .cart-data>.row:nth-child(2) {
        justify-content: unset !important;
    }
}

@media all and (max-width: 769px) {

    #order {
   
                padding: 0 0 var(--section-padding-equal-big);
     
    }

    #order .section-layout {
        grid-template-columns: auto;
        gap: 0;
    }
        #order .section-layout>div:nth-child(2) {
            order: 2;
        }
        
    #order .section-layout>div:nth-child(3) {
        height: 0;
        overflow-y: clip;
    }

    #order .promo-code,
    #order .bought .center-x:nth-child(2),
    #order .wrap-cart {
        width: calc(100% + 2* var(--container-padding));
        transform: translateX(-50%);
        position: relative;
        left: 50%;
    }

    #order .cart-items {
        margin: 0 0 clamp(1.25rem, 0.6731rem + 2.5641vw, 3.75rem) ;
    }

    #order .wrap-cart {
        display: flex;
        margin-bottom: clamp(1.875rem, 1.2981rem + 2.5641vw, 4.375rem);;
    }

    #order h5 {
        display: none;
    }

    #order .bought h2,
    #order .bought p {
        text-align: center;
    }
}