#order {
  padding: clamp(2rem, 1.6538rem + 1.5385vw, 3.5rem) 0 var(--section-padding-equal-big);
  --order--margin: clamp(1.25rem, 0.6731rem + 2.5641vw, 3.75rem);
}

#order-page #more-products {
  background-color: var(--gray);
}

#order .section-layout {
  display: grid;
  gap: var(--small-gap-responsive);
  grid-template-columns: 1fr 40%;
}

#order .cart-items {
  margin: var(--order--margin) 30px;
}

#order h5 {

  margin: 0 30px;

}

#order .promo-code {
  padding: 30px;
  background-color: var(--gray);
}

#order .promo-code input {
  background-color: var(--white);
}


#order .promo-code .main-input {
  max-width: unset;
}


#order .container {
  max-width: 1920px !important;
}




#order span:not(.selection-items span, h6+span) {
  line-height: normal;
}



#order .bought>div.row:nth-child(1) {
  gap: clamp(1.875rem, 1.0096rem + 3.8462vw, 5.625rem);
}

#order .bought img {
  object-fit: cover;
  height: 100%;
}

#order .bought p span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}

#order .wrap-cart {
  display: none;
  border-top: 1px solid var(--line-bg);
  background-color: var(--gray);
  border-bottom: 1px solid var(--line-bg);
  padding: 22px 30px;
}

#order .wrap-cart span:nth-child(2) {
  font-size: 24px;
   
}