@media all and (max-width: 1045px) {
    #bestsellers .heading-wrapper {
        position: static;
        height: unset;
        margin-left: calc(-1* var(--bestsellers-slider-padding-left));
        width: unset;
        margin-bottom: 35px;

    }

    #bestsellers h1 {
        position: static;
        writing-mode: unset;
        transform: none
    }

    #bestsellers .learn-mone {
        display: none;
    }
}