header {
    position: fixed;
    width: 100%;
    z-index: 55;
    background-color: var(--white);
}

.info {
    z-index: 60;
    background-color: var(--black);
}

.logo {
    display: inline-block;
}

header .info span a {
    text-decoration: underline;
    color: inherit;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 2px;
}

nav,
.info {
    position: relative;
}

.menu {
    transition: 0.5s top var(--transition);
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid var(--line-bg);
}

nav a {
    color: inherit;
}

nav a:hover, nav a.active {
    font-weight: 900;
}

header img:hover {
    opacity: 40%;
}

@media all and (min-width: 778px) and (hover: hover) {
    header ul li a:not(#catalog-list li a):hover::after {
        clip-path: inset(0);
    }
}

header img {
    cursor: pointer;
    transition: var(--transition) opacity 0.5s;
}

.navigation {
    border-top: 1px solid var(--line-bg);
}

header ul li a:not(#catalog-list li a) {
    position: relative;
    padding: 25px 0;

}


header ul li a:not(#catalog-list li a)::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 2px;
    width: calc(100% + 50px);
    background-color: var(--black);
    clip-path: inset(0 50%);
    transition: var(--transition) 0.5s clip-path;
}

header .arrow-up {
    display: none;
    width: 12px;
    height: 12px;
    transition: var(--transition) transform 0.5s;
}

.menu .container .grid-3 {
    padding: var(--header-container-padding) 0;
}

.menu>.container:nth-child(1) {
    overflow: hidden;
}

#catalog-list {
    transition: var(--transition) 0.5s opacity;
    position: absolute;
    top: calc(50% + -34.5px);
    z-index: 5;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    width: min(741px, 100%);
    padding: 30px 60px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-bottom-right-radius: 20px;
    opacity: 0;
    pointer-events: none;
    background-color: var(--white);
}

#catalog-list.active {
    opacity: 1;
    pointer-events: all;
}

