#news {
  padding: 40px 0 clamp(3.75rem, 3.2163rem + 2.3718vw, 6.0625rem);
}

#news .news-filter .row {
  padding: 43px 0 17px;
  column-gap: 64px;
}

#news .news-filter .news-filter-item.active span {
  color: var(--black);
  font-weight: 400;
}

#news .news-filter,
#news a {
  color: #a7a7a7;
}

#news .news-filter .news-filter-item {
  position: relative;
}
#news .news-filter .news-filter-item::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0px;
  width: 100%;
  clip-path: inset(0 50%);
  transition: var(--transition) 0.5s clip-path;
  background-color: var(--black);
  height: 1px;
}

#news .news-filter .news-filter-item.active::after {
  clip-path: inset(0);
}


#news .news-filter .news-filter-item {
  cursor: pointer;
}

#news .section-layout {
  border-top: 1px solid var(--line-bg);
  padding:var(--grid-padding) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));
  gap: 45px 20px;
}

 
