#home {
    overflow: hidden;
    position: relative;
    padding-top: var(--section-padding-top-small);
}



#home .container {
    max-width: 1920px;
    padding: unset;
}


#home h3 {
    margin-top: 114px;
    white-space: nowrap;
}

#home .headline {
    pointer-events: none;
    position: absolute;
    height: 100%;
    z-index: -1;
    transform: translateX(-3px);
    top: 0;
    right: clamp(1.9375rem, -35.2898rem + 47.2727vw, 21.4375rem);
}

#home .headline::after {
    position: absolute;
    content: '';
    height: 100%;
    background-color: var(--gray);
    width: 132px;
    left: calc(50% + 8px);
    transform: translateX(-50%);
    top: 34px;
    z-index: -1;

}

#home .headline .years {
    font-family: 'font-extra';
    font-size: 16.5px;
    font-weight: 300;
    line-height: 60px;
    top: 29.5px;
    text-align: center;
    transform: translateX(-50%);
    left: calc(50% + 6px);
    position: absolute;
}

