footer {
  background-color: #000001;
  border: 1px solid #000001;
}

footer > .container:nth-child(1) {
  padding: clamp(4.0625rem, 3.774rem + 1.2821vw, 5.3125rem)
    var(--container-padding);
}

footer .rights {
  border-top: 1px solid #292929;
  padding: 35px 0;
}

footer .rights p {
  color: #6d6d6d;
  font-weight: 500;
}

footer a {
  color: inherit;
  transition: var(--transition) opacity 0.5s;
}

footer a:hover:not(.social) {
  opacity: 60%;
}

footer .footer-menu {
  padding: 60px 0;
  /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); */
}

footer .logo img {
  filter: invert();
  width: 170px;
}

footer .social img {
  width: 28px;
}

footer .footer-contacts a {
  line-height: 24px;
}

footer .footer-contacts img {
  width: 16px;
}

footer .footer-contacts .row:nth-last-child(1) a {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}

@media all and (max-width: 1119px) {
  footer .footer-menu {
    justify-content: end;
  }

  footer .footer-menu ul {
    width: 40%;
  }
}

@media all and (max-width: 890px) {
  footer > .container:nth-child(1) > .row {
    flex-direction: column;
  }

  footer .footer-menu {
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
  }
}

@media all and (max-width: 80px) {
  footer .footer-menu {
    justify-content: center !important;
  }
}
