#no-found-page {
    height: calc(100vh - (30px + 55px + var(--nav-height) + (var(--header-container-padding)*2)));
}

#no-found-page > div:nth-child(1) {
    height: 100%;
}

#no-found-page h1 {
    text-transform: capitalize;
}