@import "./styles/reset.css";
@import "./styles/variables.css";
@import "./styles/helpers.css";
@import "./styles/layouts.css";
@import "./styles/media.css";
@import "./styles/typography.css";
@import "./styles/shared.css";

body, html {
  overscroll-behavior: none;
}

.App {
  visibility: hidden;
}

body,
html,
.App,
#root {
  /* width: 100%; */
  height: 100%;
}


main {
  min-height: 100vh;
  flex-grow: 1;
}

.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s;
}

.lazy-load-image-background.blur>img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded>img {
  opacity: 1;
  transition: opacity 0.3s;
}

.lazy-load-image-background.opacity {
  opacity: 0;
}

.lazy-load-image-background.opacity.lazy-load-image-loaded {
  opacity: 1;
  transition: opacity 0.3s;
}

.slider-nav {
  pointer-events: none;
}

.slider-nav button {
  pointer-events: all;
  cursor: pointer;
  width: 39px;
  aspect-ratio: 1/1;
  height: 39px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  transition: var(--transition) 0.5s background-color;
}

.slider-nav button:hover {
  background-color: var(--black);
}

.slider-nav button img {
  transition: var(--transition) 0.5s filter;
}

.slider-nav button:hover img {
  filter: invert();
}

.slider-indicator {
  width: 100%;
  height: 2px;
  background-color: var(--line-bg);
  position: relative;
  overflow: hidden;
}

.indicator-line {
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
    will-change: left;
  background-color: var(--black);
  transition: var(--transition) left 1s;
}


#filter .filter-item:nth-child(1n) .placeholder,
.news-item:nth-child(1n) .placeholder,
#home .slider-item:nth-child(1n),
#bestsellers .slider-item:nth-child(1n) .slider-image,
#projects .slider-item:nth-child(1n) .slider-image, #more-products .slider-item:nth-child(1n) .slider-image,
.recommendations .slider-item:nth-child(1n) .rec-item-image,
.cart-item-image:nth-child(1n),  #catalog-collections .slider-item:nth-child(1n) .slider-image {
  background-color: var(--placeholder-1);
  transition: var(--transition) 1s background-color;
}

#filter .filter-item:nth-child(2n) .placeholder, .news-item:nth-child(2n) .placeholder, 
#home .slider-item:nth-child(2n),
#bestsellers .slider-item:nth-child(2n) .slider-image,
#projects .slider-item:nth-child(2n) .slider-image, #more-products .slider-item:nth-child(2n) .slider-image,
.recommendations .slider-item:nth-child(2n) .rec-item-image,
.cart-item-image:nth-child(2n),  #catalog-collections .slider-item:nth-child(2n) .slider-image {
  background-color: var(--placeholder-2);
    transition: var(--transition) 1s background-color;
}

#filter .filter-item:nth-child(3n) .placeholder,
.news-item:nth-child(3n) .placeholder,
#home .slider-item:nth-child(3n),
#bestsellers .slider-item:nth-child(3n) .slider-image,
#projects .slider-item:nth-child(3n) .slider-image, #more-products .slider-item:nth-child(3n) .slider-image,
.recommendations .slider-item:nth-child(3n) .rec-item-image,
.cart-item-image:nth-child(3n), #catalog-collections .slider-item:nth-child(3n) .slider-image {
  background-color: var(--placeholder-3);
    transition: var(--transition) 1s background-color;
}

.error,
.loading,
.no-results {
  min-height: 500px;
  height: 100%;
  text-transform: capitalize;
}

#cart .loading,
#cart .error {
  min-height: unset !important;
}

#product-page .loading, #product-page .error, #product-page .no-results {
      height: calc(100vh - (30px + 55px + var(--nav-height) + (var(--header-container-padding)*2)));
}