@import './styles/reset.css';
@import './styles/variables.css';
@import './styles/helpers.css';
@import './styles/layouts.css';
@import './styles/media.css';
@import './styles/typography.css';

body {
  overscroll-behavior: none;
}

body,
html,
.App,
#root {
  /* width: 100%; */
  height: 100%;
}

#scroll-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  padding-top: calc(30px + 55px + var(--nav-height) + (var(--header-container-padding)*2));
  background-color: var(--white);
}

.scroll-content {
  min-height: 100% !important;
  /* height: inherit; */
  display: flex !important;
  flex-direction: column;
  will-change: transform;
  height: inherit;
}

.scrollbar-thumb-y {
  background-color: var(--white) !important;
  cursor: grab;
}

.scrollbar-track-y {
  background-color: transparent !important;
  width: 11px !important;
  mix-blend-mode: exclusion;
}

.scrollbar-track-x {
  display: none !important;

}

@media all and (max-width: 1023px) {

  html body .scrollbar-track-y,
  html body .scrollbar-thumb-y {
    display: none !important;
  }
}

main {
  flex-grow: 1;
}

.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter .3s;
}

.lazy-load-image-background.blur>img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded>img {
  opacity: 1;
  transition: opacity .3s;
}
