#cart .cart-item .cart-item-quantity {
    color: #23221e;
    border-radius: 20px;
    width: fit-content;
    height: 35px;
    border: 1px solid var(--line-bg);
    min-width: 112px;
}

#cart .cart-item .cart-item-image {
    width: 130px;
    height: 130px;
    aspect-ratio: 1/1;
}

#cart .cart-item .cart-item-image img {
    object-fit: cover;
    height: 100%;
    transition: var(--transition) 0.5s filter;
}

#cart .cart-item .remove-item {
    cursor: pointer;
    background-color: var(--gray);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    aspect-ratio: 1/1;
    transition: var(--transition) 0.5s background-color;
}

#cart .cart-item .remove-item:hover {
    background-color: var(--black);
}

#cart .cart-item .remove-item:hover img {
    filter: invert();
}