 .descriptor-wrapper {
     width: 31px;
     height: 31px;
     position: absolute;
     /* top: 50%;
     left: 50%; */
     pointer-events: all;
     transform: translate(-50%, -50%);
     z-index: 444;
 }

 .descriptor-wrapper:hover .descriptor-circle {
     animation-play-state: paused;
     border: 0.5px solid var(--white);
 }

 .descriptor-circle {
     position: absolute;
     aspect-ratio: 1 / 1;
     width: 0px;
     height: 0px;
     border-radius: 50%;
     overflow: hidden;
     background-color: rgba(255, 255, 255, 0);
     animation: circle 1s var(--transition) infinite;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation-play-state: running;
 }

 .descriptor-circle.middle {
     animation-delay: 0.7s;
 }

 .descriptor-circle.big {
     animation-delay: 0.3s;
 }

 @keyframes circle {

     0% {
         background-color: var(--white);
         width: 0px;
         height: 0px;
     }

     100% {
         background-color: rgba(255, 255, 255, 0);
         height: 31px;
         width: 31px;
     }
 }


 .descriptor {
     box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.04);
     background-color: var(--white);
     border-radius: 20px;
     padding: 15px;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
 }

 .descriptor span:nth-child(1) {
     font-weight: 600;
 }

 .descriptor span:nth-child(2) {
     text-transform: lowercase;
     display: inline-block;
     color: #A5A5A5;
     line-height: 20px;
     margin-bottom: 5px;
 }

 .descriptor .anim-button {
     font-size: 12px;
     line-height: 16px;
     padding: 4px 16px;

 }

 .descriptor>.row:nth-child(1) {
     width: max-content;
 }

 @media all and (max-width: 590px) {
     .descriptor.leisure-chair {
         left: 60px !important;
     }

     .descriptor.diamond {
         left: -40px !important;
     }
 }