#product-options {
  padding: 56px 0 45px;
}

#product-options a {
  color: inherit;
}

#product-options .section-layout {
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 45%
}

#product-options .product-details>.row:nth-child(1) {
  line-height: unset;
  margin-bottom: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
}

#product-options .product-details h4 {
  font-size: 36px;
}

#product-options .product-details .xsmall-text:not(.custom-selection ul span, .custom-radio span) {
  font-weight: 400;
}

#product-options .product-details .icon {
  background-color: var(--gray);
  aspect-ratio: 1/1;
  width: 66px;
  border-radius: 50%;
}

#product-options .product-details .download-details {
  margin: clamp(1.875rem, 1.5865rem + 1.2821vw, 3.125rem) 0;

  border-top: var(--line-bg) 1px solid;
  border-bottom: var(--line-bg) 1px solid;
  padding: 17px 45px 17px 0;
}

#product-options .product-details .download-details span {
  line-height: 19px;
}

#product-options .product-details .download-details>div {
  cursor: pointer;
}

#product-options .product-details .options {
  margin-top: 10px;
  gap: 10px 20px;
}

#product-options .text-black {
  color: #23221e !important;
}

#product-options .product-details .option-key::first-letter {
  text-transform: uppercase;
}

#product-options form>div>div::first-letter {
  text-transform: uppercase;
}

#product-options form .submit-wrapper {
  border-top: var(--line-bg) 1px solid;
  padding-top: clamp(1.875rem, 1.5865rem + 1.2821vw, 3.125rem);
  margin-top: clamp(1.875rem, 1.5865rem + 1.2821vw, 3.125rem);
  ;
}

#product-options form .add-to-favorites+span {
  color: #23221e;
}

#product-options form .main-button+.row {
  margin-top: 18px;
}

@media all and (max-width: 1024px) {
  #product-options .section-layout {
    grid-template-columns: auto;
  }

  #product-options .section-layout .column {
    height: unset !important;
  }

  #product-options .section-layout .main-image {
    height: unset !important;
    aspect-ratio: 1/1;
  }
}

@media all and (max-width: 769px) {
    #product-options .section-layout .column.dots {
        display: none !important;
      }
}

@media all and (max-width: 550px) {
  #project form>.row {
    flex-direction: column;
  }

     #product-options form > .row > divc {
    width: 100% !important;
  }
}