.main-input {
  padding: 9px 25px;
  border-radius: 20px;
  max-width: 422px;
  width: 100%;
  outline: transparent 1px solid;
  transition: var(--transition) 0.5s outline;
}

.main-input::placeholder {
  color: var(--gray-text);
}

.main-input:focus-visible {
  outline: var(--black) 1px solid !important;
}

textarea.main-input {
  min-height: 80px;
  height: 40px;
}
